<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/fuse/fw/add"
     method    =  "post"
>

gbnk <input type="text" name="gbnk"/>  </br></br>
mod <input type="text" name="mod"/>  </br></br>
type <input type="text" name="type"/>  </br></br>
rank <input type="text" name="rank"/>  </br></br>
comment <input type="text" name="comment"/>  </br></br>
<input type="file" name="userPhoto" />
<input type="submit" value="start download" name="submit">
</form>